.button {
    background-color: red;
    padding: 20px;

    span {
        color: yellow;
        font-size: 35px;
    }
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    border: 1px solid black;
    border-radius: 50px;
    cursor: pointer;
}